<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ndhfos"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="androidx.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="androidx.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_ndhfos"
        android:label="@string/app_name"
        android:fullBackupContent="false"
        android:roundIcon="@mipmap/icon_ndhfos_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".UserDetailsActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"/>
        <activity android:name=".OTPActivity" />
        <activity
            android:name=".PhoneActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ndhfos.SelectMenuActivity"/>

        </activity>
        <activity
            android:name=".SelectMenuActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>